:root{
    --bg: #f8f7f2;
    --color: #11120d;

}

body{
    background-color: var(--bg);
}

#navList{
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10%;
    list-style: none;
    justify-content: center;
}

.navSelection{
    text-decoration: none;
    color: black;
}

.navSelection:hover{
    font-style: italic;
}