:root{
    --bg: #f0f1f2;
    --color: #262626;
}

body{
    background-color: var(--bg);
    font-family: sans-serif;
    transition: all 0.2s ease-out;
}

#navList{
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10%;
    list-style: none;
    justify-content: center;
    margin: 1dvh;
}

.navSelection{
    text-decoration: none;
    color: var(--color);
    padding: 10px;
    border-radius: 3px;
    font-size: 2vmin;
    font-weight: bold;
    cursor: pointer;
}

.navSelection:hover:not(.navSelected){
    font-style: italic;
}

.navSelected{
    background-color: var(--color);
    color: var(--bg);
    cursor: default;
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

#container{
    border: solid 1px var(--color);
    height: 86dvh;
}

#home{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.activedSection{
    opacity: 1;
}

.desactivedSection{
    opacity: 0;
    transform: translateX(-10vmin);
}

h1{
    font-size: 10vmin;
    position: absolute;
    margin: 0;
}

h1 h2{
    text-align: center;
}

.borderTitle{
    color: var(--bg);  
    text-shadow:
       -1px -1px 0 var(--color), 
       1px -1px 0 var(--color),
       -1px 1px 0 var(--color),
       1px 1px 0 var(--color); 
}

.waveTitle {
    color: var(--color);
    animation: wave 3s ease-in-out infinite;
}

@keyframes wave{
    0%, 100% {clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);}
    50% {clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);}
}

.slogan{
    position: absolute;
    transform: translateY(3em);
    font-size: 3vmin;
    color: var(--color);
}

#icons{
    margin-top: 1dvh;
    height: 4dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#colorChange{
    height: 100%;
    cursor: pointer;
    color: var(--color);
    transition: all 0.1s linear;
}

#colorChange:hover{
    scale: 1.3;
}

#social-medias{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1em;
}

.social-media{
    color: var(--color);
}

#info{
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: left;
    flex-direction: row;
    gap: 4em;
    color: var(--color);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

#info h2{
    font-size: 4vmin;
}

#info p{
    font-size: 2.2vmin;
}

#info article{
    transition: border 0.5s ease-out;
    border-radius: 10px;
    padding: 1em;
}

#info article:hover{
    border-left: var(--color) solid 5px;
    border-right: var(--color) solid 1px;
    border-bottom: var(--color) solid 1px;
    border-top: var(--color) solid 1px;
}

#info-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

#info-knowledge{
    display: flex;
    flex-direction: column;
    width: 24%;
}

#info-knowledge div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

#info-knowledge img{
    width: 8vmin;
    height: 8vmin;
    transition: scale 0.3s ease-out;
}

#info-knowledge img:hover{
    scale: 1.1;
}

#projects{
    display: none;
    color: var(--color);
}

#contact{
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color);
}

#contact form{
    padding: 1em;
    border: var(--color) 1px solid;
    border-bottom: var(--color) 5px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 55vmin;
}

#contact h2{
    font-size: 5vmin;
}

#contact form input:not([type="submit"]){
    border: none;
    background-color: var(--bg);
    border-bottom: var(--color) 2px solid;
    width: 80%;
    outline: none;
    color: var(--color);
}

#contact form textarea{
    resize: none;
    width: 90%;
    height: 8em;
    text-wrap: wrap;
    border: 2px var(--color) solid;
    border-radius: 5px;
    background-color: var(--bg);
    outline: none;
    color: var(--color);
}

#contact form input[type="submit"]{
    background-color: var(--bg);
    color: var(--color);
    border-radius: 4px;
    font-weight: bolder;
    border: var(--color) 2px solid;
    transition: all 0.2s cubic-bezier(.95,.09,.79,.76);
    cursor: pointer;
}

#contact form input[type="submit"]:hover{
    scale: 1.1;
    background-color: var(--color);
    color: var(--bg);
    box-shadow: 0 0 2px 1px var(--color);
}

@keyframes show {
    0%{
        opacity: 0;
    }100%{
        opacity: 100%;
        transform: translate(-10vmin);
    }
}

@keyframes desactivedSection {
    0%{
        opacity: 100%;
    }100%{
        opacity: 0;
        transform: translate(-10vmin);
    }
}